
<div>

    <h1>Редагувати профіль</h1>

    <%= form_with(model: @user, local: true) do |form| %>
        <div class="field">
            <%= form.label :first_name, "Ім'я" %>
            <%= form.text_field :first_name %>
        </div>

        <div class="field">
            <%= form.label :last_name, "Прізвище" %>
            <%= form.text_field :last_name %>
        </div>

        <div class="field">
            <%= form.label :patronymic, "По-батькові" %>
            <%= form.text_field :patronymic %>
        </div>

        <div class="field">
            <%= form.label :birth_date, "Дата народження" %>
            <%= form.date_field :birth_date %>
        </div>

        <div class="field">
            <%= form.label :phone_number, "Номер телефону" %>
            <%= form.text_field :phone_number %>
        </div>

        <div class="field">
            <%= form.label :sex, "Стать" %>
            <%= form.select :sex, ['Чоловік', 'Жінка'], {}, {class: 'select-field'} %>
        </div>

        <div class="field">
            <%= form.label :user_name, "Нікнейм" %>
            <%= form.text_field :user_name %>
        </div>

        <% if @user.errors.any? %>
            <% @user.errors.full_messages_for(:email).each do |msg| %>
                <div class="alert alert-danger"> <%= msg %> </div>
            <% end%>
        <%end%>

        <div class="field">
            <%= form.label :email, "Email" %>
            <%= form.email_field :email %>
        </div>

        <div class="field">
            <%= form.label :class_name, "Клас" %>
            <%= form.text_field :class_name %>
        </div>

        <div class="field">
            <%= form.label :password, "Пароль" %>
            <%= form.password_field :password %>
        </div>

        <div class="field">
            <%= form.label :password_confirmation, "Повторіть пароль" %>
            <%= form.password_field :password_confirmation %>
        </div>

        <% unless @user.new_record? %>
            <div class="field">
                <%= form.label :old_password, "Старий пароль" %>
                <%= form.password_field :old_password %>
            </div>
        <%end%>

        <div class="field">
            <%= form.label :photo, "Фото" %>
                <% if @user.photo.attached? %>
                    <%= image_tag(@user.photo, size: "50x50") %>
                <% end %>
            <%= form.file_field :photo %>
        </div>

        <div class="actions">
            <%= form.submit "Зберегти зміни" %>
        </div>
    <% end %>

    <%= link_to 'Повернутися назад', user_path(current_user) %>

    
</div>