<div class="edit-profile-body">
  <div class="profile-container">
    <h1 class="profile-title">Редагувати профіль</h1>

    <%= form_with(model: @user, local: true) do |form| %>
      <div class="profile-details">
        <div class="detail-row">
          <div class="detail-label">Ім'я:</div>
          <div class="detail-value">
            <%= form.text_field :first_name, class: "profile-input" %>
          </div>
        </div>

        <div class="detail-row">
          <div class="detail-label">Прізвище:</div>
          <div class="detail-value">
            <%= form.text_field :last_name, class: "profile-input" %>
          </div>
        </div>

        <div class="detail-row">
          <div class="detail-label">По-батькові:</div>
          <div class="detail-value">
            <%= form.text_field :patronymic, class: "profile-input" %>
          </div>
        </div>

        <div class="detail-row">
          <div class="detail-label">Дата народження:</div>
          <div class="detail-value">
            <%= form.date_field :birth_date, class: "profile-input" %>
          </div>
        </div>

        <div class="detail-row">
          <div class="detail-label">Номер телефону:</div>
          <div class="detail-value">
            <%= form.text_field :phone_number, class: "profile-input" %>
          </div>
        </div>

        <div class="detail-row">
          <div class="detail-label">Стать:</div>
          <div class="detail-value">
            <%= form.select :sex, ['Чоловік', 'Жінка'], {}, {class: 'select-field profile-input'} %>
          </div>
        </div>

        <div class="detail-row">
          <div class="detail-label">Нікнейм:</div>
          <div class="detail-value">
            <%= form.text_field :user_name, class: "profile-input" %>
          </div>
        </div>

        <% if @user.errors.any? %>
          <% @user.errors.full_messages_for(:email).each do |msg| %>
            <div class="alert alert-danger"> <%= msg %> </div>
          <% end %>
        <% end %>

        <div class="detail-row">
          <div class="detail-label">Email:</div>
          <div class="detail-value">
            <%= form.email_field :email, class: "profile-input" %>
          </div>
        </div>

        <div class="detail-row">
          <div class="detail-label">Клас:</div>
          <div class="detail-value">
            <%= form.text_field :class_name, class: "profile-input" %>
          </div>
        </div>

        <div class="detail-row">
          <div class="detail-label">Пароль:</div>
          <div class="detail-value">
            <%= form.password_field :password, class: "profile-input" %>
          </div>
        </div>

        <div class="detail-row">
          <div class="detail-label">Повторіть пароль:</div>
          <div class="detail-value">
            <%= form.password_field :password_confirmation, class: "profile-input" %>
          </div>
        </div>

        <% unless @user.new_record? %>
          <div class="detail-row">
            <div class="detail-label">Старий пароль:</div>
            <div class="detail-value">
              <%= form.password_field :old_password, class: "profile-input" %>
            </div>
          </div>
        <% end %>

        <div class="detail-row">
          <div class="detail-label">Фото:</div>
          <div class="detail-value">
            <% if @user.photo.attached? %>
              <%= image_tag(@user.photo, size: "50x50", class: "edit-photo") %>
            <% end %>
            <%= form.file_field :photo, class: "select-photo" %>
          </div>
        </div>

        <div class="actions">
          <%= form.submit "Зберегти зміни", class: "edit1-profile-btn" %>
        </div>
      </div>
    <% end %>

    <%= link_to 'Повернутися назад', user_path(current_user), class: "edit-profile-btn" %>
  </div>
</div>
