
<div class="profile-body">
  <div class="profile-container">
    <h1 class="profile-title">Профіль Користувача</h1>

    <div class="profile-photo">
      <%= image_tag(@user.photo) if @user.photo.attached? %>
    </div>

    <div class="profile-details">
        <p class="detail-row">
        <span class="detail-label">Ім'я</span>
        <span class="detail-value"><%= @user.first_name %></span>
        </p>
        <p class="detail-row">
        <span class="detail-label">Прізвище</span>
        <span class="detail-value"><%= @user.last_name %></span>
        </p>
        <p class="detail-row">
        <span class="detail-label">По батькові</span>
        <span class="detail-value"><%= @user.patronymic %></span>
        </p>
        <p class="detail-row">
        <span class="detail-label">Дата нарождення</span>
        <span class="detail-value"><%= @user.birth_date %></span>
        </p>
        <p class="detail-row">
        <span class="detail-label">Користувач</span>
        <span class="detail-value"><%= @user.user_name %></span>
        </p>
        <p class="detail-row">
        <span class="detail-label">Email</span>
        <span class="detail-value"><%= @user.email %></span>
        </p>
        <p class="detail-row">
        <span class="detail-label">Номер телефону</span>
        <span class="detail-value"><%= @user.phone_number %></span>
        </p>
        <p class="detail-row">
        <span class="detail-label">Клас</span>
        <span class="detail-value"><%= @user.class_name %></span>
        </p>

    </div>

    <%= link_to "Редагувати профіль", edit_user_path(current_user), class: "edit-profile-btn" %>
  </div>
</div>