<div class ="review-container">

  <div class="image-container">
    <%= image_tag(@administrator.photo)if @administrator.photo.attached? %>
  </div>


  <div class="main-content-container">        

    <p class="field-info">
        <strong>Ім'я:</strong>
        <%= @administrator.first_name %>
    </p>

    <p class="field-info">
        <strong>Посада:</strong>
        <%= @administrator.position %>
    </p>

    <p class="field-info">
        <strong>Телефон:</strong>
        <%= @administrator.phone_number %>
    </p>

    <p class="field-info">
        <strong>Час роботи:</strong>
        <%# @administrator.work_hours %>
          08.00 - 18.00 
    </p>
  </div>
  <%= link_to 'Назад', administrators_path %>
</div>