<h1>Список користувачів</h1>

<table class="admin-table">
    <thead>
    <tr>
        <th class="table-heading">Ім'я</th>
        <th class="table-heading">Email</th>
        <th class="table-heading">Роль</th>
        <th class="table-heading">Дії</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
    <tr class="table-row">
        <td class="table-column">
            <%= user.first_name %> <%= user.last_name %>
        </td>
        <td class="table-column">
            <%= user.email %>
        </td>
        <td class="table-column">
            <%= user.role %>
        </td>
        <td class="table-column">
            <%= link_to 'Редагувати', edit_admin_user_path(user), class: "edit-btn" %>
            <% if current_user && current_user.admin? %>
                <%= link_to 'Видалити', user, data: { turbo_method: :delete, turbo_confirm: 'Ви впевнені?' }, class: "edit-btn" %>
            <% end %>
        </td>       
    </tr>
    <% end %>
    </tbody>
</table>


